ul.breadcrumbs
    .container
        li.home
            a(href='index.html', title='Go to Home Page')
                img(src='images/home.png', alt='')
            span >
        li.home
            | Women  
            span >
        li.home
            | Clothing  
            span >
        li.home
            | Blouses & Shirts  
            span >
        li.home
            | B.young  
            span >
        li.home
            span.red   Sofi Blouse  
.single_top
    .container
        .single_grid
            .grid.images_3_of_2
                ul#etalage
                    li
                        a(href='optionallink.html')
                            img.etalage_thumb_image(src='images/s7.jpg')
                            img.etalage_source_image(src='images/s7.jpg', title='')
                    li
                        img.etalage_thumb_image(src='images/s8.jpg')
                        img.etalage_source_image(src='images/s8.jpg', title='')
                    li
                        img.etalage_thumb_image(src='images/s9.jpg')
                        img.etalage_source_image(src='images/s9.jpg')
                    li
                        img.etalage_thumb_image(src='images/s10.jpg')
                        img.etalage_source_image(src='images/s10.jpg')
                .clearfix
            .desc1.span_3_of_2
                ul.back
                    li
                        i.back_arrow
                        | Back to
                        a(href='index.html') Women's Clothing
                h1 Sofi Blouse
                ul.price_single
                    li.head
                        h2 $98.95
                    li.head_desc
                        a(href='#') 12 reviews
                        img(src='images/review.png', alt='')
                    .clearfix
                p
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum
                .dropdown_top
                    .dropdown_left
                        select.dropdown(tabindex='10', data-settings='{"wrapperClass":"metro1"}')
                            option(value='0') Select size
                            option(value='1') M
                            option(value='2') L
                            option(value='3') XL
                            option(value='4') Fs
                            option(value='5') S
                            option(value='5')
                            option(value='5')
                    ul.color_list
                        li
                            a(href='#')
                                span.color1
                        li
                            a(href='#')
                                span.color2
                        li
                            a(href='#')
                                span.color3
                        li
                            a(href='#')
                                span.color4
                        li
                            a(href='#')
                                span.color5
                    .clearfix
                a.btn1.btn2.btn-primary1(href='#')
                    span Add To Cart
                    img(src='images/plus.png', alt='')
            .clearfix
        .single_social_top
            ul.single_social
                li
                    a(href='#')
                        i.s_fb
                        .social_desc
                            | Share
                            br
                            |  on facebook
                        .clearfix
                li
                    a(href='#')
                        i.s_pin
                        .social_desc
                            | Pin
                            br
                            |  this product
                        .clearfix
                li
                    a(href='#')
                        i.s_twt
                        .social_desc
                            | Tweet
                            br
                            |  this product
                        .clearfix
                li.last
                    a(href='#')
                        i.s_email
                        .social_desc
                            | Email
                            br
                            |  a Friend
                        .clearfix
        ul.menu
            li.item1
                a(href='#')
                    img(src='images/product_arrow.png')
                    | Description
                ul
                    li.subitem1
                        a(href='#')
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                    li.subitem2
                        a(href='#')
                            | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore
                    li.subitem3
                        a(href='#')
                            | Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes
            li.item2
                a(href='#')
                    img(src='images/product_arrow.png')
                    | Additional information
                ul
                    li.subitem2
                        a(href='#')
                            | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore
                    li.subitem3
                        a(href='#')
                            | Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes
            li.item3
                a(href='#')
                    img(src='images/product_arrow.png')
                    | Reviews (10)
                ul
                    li.subitem1
                        a(href='#')
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                    li.subitem2
                        a(href='#')
                            | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore
                    li.subitem3
                        a(href='#')
                            | Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes
            li.item4
                a(href='#')
                    img(src='images/product_arrow.png')
                    | Helpful Links
                ul
                    li.subitem2
                        a(href='#')
                            | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore
                    li.subitem3
                        a(href='#')
                            | Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes
            li.item5
                a(href='#')
                    img(src='images/product_arrow.png')
                    | Make A Gift
                ul
                    li.subitem1
                        a(href='#')
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                    li.subitem2
                        a(href='#')
                            | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore
                    li.subitem3
                        a(href='#')
                            | Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes
    .m_4
        span.left_line2
        p Related Products
        span.right_line2
    .content_bottom
        .container
            ul.grid1
                li
                    .view.view-first
                        img.img-responsive(src='images/b1.jpg', alt='')
                        .tab_desc
                            h3
                                a(href='#') Feel Tank
                            p $59.95
                            a.btn1.btn-primary1(href='#')
                                span Add To Cart
                                img(src='images/plus.png', alt='')
                li
                    .view.view-first
                        img.img-responsive(src='images/b2.jpg', alt='')
                        .tab_desc
                            h3
                                a(href='#') Feel Tank
                            p $59.95
                            a.btn1.btn-primary1(href='#')
                                span Add To Cart
                                img(src='images/plus.png', alt='')
                    .sale-box1
                li
                    .view.view-first
                        img.img-responsive(src='images/b3.jpg', alt='')
                        .tab_desc
                            h3
                                a(href='#') Feel Tank
                            p $59.95
                            a.btn1.btn-primary1(href='#')
                                span Add To Cart
                                img(src='images/plus.png', alt='')
                li.grid1_last
                    .view.view-first
                        img.img-responsive(src='images/b4.jpg', alt='')
                        .tab_desc
                            h3
                                a(href='#') Feel Tank
                            p $59.95
                            a.btn1.btn-primary1(href='#')
                                span Add To Cart
                                img(src='images/plus.png', alt='')
                    .sale-box1
                .clearfix

script.
    jQuery(document).ready(function($){
        $('#etalage').etalage({
            thumb_image_width: 300,
            thumb_image_height: 400,
            source_image_width: 900,
            source_image_height: 1200,
            show_hint: true,
            click_callback: function(image_anchor, instance_id){
                alert('Callback example:\\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
            }
        });
    });
    // initiate accordion
    script(type='text/javascript').
    $(function() {
        var menu_ul = $('.menu > li > ul'),
                menu_a  = $('.menu > li > a');
        menu_ul.hide();
        menu_a.click(function(e) {
            e.preventDefault();
            if(!$(this).hasClass('active')) {
                menu_a.removeClass('active');
                menu_ul.filter(':visible').slideUp('normal');
                $(this).addClass('active').next().stop(true,true).slideDown('normal');
            } else {
                $(this).removeClass('active');
                $(this).next().stop(true,true).slideUp('normal');
            }
        });
    });