extends ../includes/layout

block main-content
    section.content
        include ../includes/header
        .contact
            .container
                div(ng-view)
        include ../includes/footer