extends ../includes/layout

block main-content
    include ../includes/header
    section.content
        .contact
            .container
                div(ng-view)
                    h2= mongoMessage
    include ../includes/footer