.grid-2
    .container
        p
            | We accept
            img.img-responsive(src='images/paypal.png', alt='', align='middle')
.footer_top
    .container
        .col-sm-2.grid-3
            h3 Customer Service
            ul.footer_list
                li
                    a(href='contact.html') Contact
                li
                    a(href='#') FAQ
                li
                    a(href='#') Terms of payment
                li
                    a(href='#') Terms of sale
                li
                    a(href='#') Terms and conditions
                li
                    a(href='#') Returns and Refunds
        .col-sm-2.grid-3
            h3 Information
            ul.footer_list
                li
                    a(href='#') Affiliate
                li
                    a(href='#') Cookies
                li
                    a(href='#') How to Shop
                li
                    a(href='#') About Nelly
                li
                    a(href='#') Investor relations
        .col-sm-2.grid-3
            h3 Campaigns
            ul.footer_list
                li
                    a(href='#') Evening Dresses
                li
                    a(href='#') Makeup
                li
                    a(href='#') Fashion forward
                li
                    a(href='#') Training clothes
                li
                    a(href='#') Special Occasion Dresses
        .col-sm-2.grid-3
            h3 Stores
            ul.footer_list
                li
                    a(href='#') Paris
                li
                    a(href='#') New York
                li
                    a(href='#') London
                li
                    a(href='#') Madrid
                li
                    a(href='#') Tokio
        .col-sm-2.grid-3
            h3 Social
            ul.footer_social
                li
                    a(href='#')
                        i.tw1
                li
                    a(href='#')
                        i.db1
                li
                    a(href='#')
                        i.fb1
                li
                    a(href='#')
                        i.g1
                li
                    a(href='#')
                        i.thumb
                li
                    a(href='#')
                        i.vimeo
        .col-sm-2
            img(src='images/secure.png', alt='')
.footer_bottom
    .container
        .cssmenu
            ul
                li.active
                    a(href='login.html') Privacy & Cookies
                |  |
                li
                    a(href='checkout.html') Terms & Conditions
                |  |
                li
                    a(href='checkout.html') Accessibility
                |  |
                li
                    a(href='login.html') Store Directory
                |  |
                li
                    a(href='register.html') About Us
        .copy
            p
                | © 2016 Kungfu Pandar team - Copyright template by
                a(href='http://w3layouts.com', target='_blank') w3layouts
        .clearfix